$main-color: #f06ee5;//org color #FFA501
$font-color: #fff;//if i dont like the text color
$hover-color: rgb(216, 11, 223);
$hamburger_color: #151812;
$menu-font-color: #fff;
$hover-menu-list-circle: #fff;
$resume-line-color: #000;