$main-color: #FA9C28;//org color #FFA501
$font-color:#fff;//if i dont like the text color
$hover-color: #FA9C28;
$hamburger_color: #fff;
$menu-font-color: #fff;
$hover-menu-list-circle: #fff;
$resume-line-color: #000;
$box-shadow-color: rgb(185, 48, 219);